@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:wght@500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --priColor: #0A2A06;
    --green: #46760A;
    --orange: #FF8311;
    --gray: #A9A9A9;
    --silver :#F9F9F9;
    /* --dgray: #D1D1D1; */
}
/* 
*/

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--priColor);
    transition: color .3s ease;
    font-weight: 400;
}


.container {
    max-width: 1440px;
}

/* Navbar */
.nav-container {
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
}

.nav-container > div:first-of-type img {
    max-height: 150px;
}

.nav-container ul {
    display: flex;
    align-items: center;
}

.nav-container ul li {
    margin-left: 3rem;
}

.nav-container div:last-of-type {
    margin-left: auto;
}

.nav-container div:last-of-type button {
    margin-right: 3rem;
}

.nav-container div:last-of-type button:last-of-type {
    padding: 10px 25px;
    border-radius: 15px;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.header-container .categories {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #d1d1d1;
    border-radius: 15px;
    background-color: var(--silver);
}

.categories p {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.categories p img {
    margin: 0 1.5rem 0 .5rem;
}

.categories input {
    border: 0;
    border-left: 1px solid var(--gray);
    padding-left: 2rem;
    background-color: inherit;
    width: 300px;
}

.categories input::placeholder {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}


/* Buttons */
button {
    background: inherit;
    border: 0;
    outline: 0;
    cursor: pointer;
    /* border-radius: 5px; */
    transition: all .3s ease;
}

.outline-btn {
    color: var(--priColor);
    border: 1px solid var(--priColor);
}

.solid-btn {
    color: #fff;
    background: var(--priColor);
    border: 1px solid var(--priColor);
    font-weight: 700;
}

/* Utilities */
.size-14 {
    font-size: 14px;
}

.size-16 {
    font-size: 16px;
}

.size-18 {
    font-size: 18px;
}

.size-36 {
    font-size: 36px;
}

.font-nunuito {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

.gray {
    color: var(--gray);
}