@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:wght@500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --priColor: #0A2A06;
    --green: #46760A;
    --orange: #FF8311;
    --gray: #A9A9A9;
    --silver :#F9F9F9;
    --darkgray: #575757;
    /* --dgray: #D1D1D1; */
}
/* 
*/

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--priColor);
    transition: color .3s ease;
    font-weight: 400;
}


.container {
    max-width: 1440px;
}

/* Navbar */
.nav-container {
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
}

.nav-container > div:first-of-type img {
    max-height: 150px;
}

.nav-container ul {
    display: flex;
    align-items: center;
}

.nav-container ul li {
    margin-left: 3rem;
}

.nav-container div:last-of-type {
    margin-left: auto;
}

.nav-container div:last-of-type button {
    margin-right: 3rem;
}

.nav-container div:last-of-type button:last-of-type {
    padding: 10px 25px;
    border-radius: 15px;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem;
}

.header-container .categories {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #d1d1d1;
    border-radius: 15px;
    background-color: var(--silver);
}

.categories p {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.categories p img {
    margin: 0 1.5rem 0 .5rem;
}

.categories input {
    border: 0;
    border-left: 1px solid var(--gray);
    padding-left: 1.5rem;
    padding-top: 3px;
    background-color: inherit;
    outline: none;
    width: 300px;
}

.categories input::placeholder {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.header-icons {
    position: relative;
}

.header-icons .bag {
    margin-left: 3rem;
}

.header-icons .badge {
    position: absolute;
    top: 14px;
    left: 80%;
    transform: translate(-80%);
}

/* Sections */
section {
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 2rem;
    row-gap: 4rem;
}

.grid-item > p:first-of-type {
    margin: 1rem 0 .3rem 0;
}

.grid-item > div:first-of-type img {
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.price button {
    border: 2px solid var(--green);
    border-radius: 12px;
    padding: 7px 15px;
}

/* Buttons */
button {
    background: inherit;
    border: 0;
    outline: 0;
    cursor: pointer;
    /* border-radius: 5px; */
    transition: all .3s ease;
}

.outline-btn {
    color: var(--priColor);
    border: 1px solid var(--priColor);
}

.solid-btn {
    color: #fff;
    background: var(--priColor);
    border: 1px solid var(--priColor);
    font-weight: 700;
}

/* Utilities */

.size-12 {
    font-size: 12px;
}

.size-14 {
    font-size: 14px;
}

.size-15 {
    font-size: 15px;
}

.size-16 {
    font-size: 16px;
}

.size-18 {
    font-size: 18px;
}

.size-36 {
    font-size: 36px;
}

.font-nunuito {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

.gray {
    color: var(--gray);
}

.darkgray {
    color: var(--darkgray);
}

.weight-5 {
    font-weight: 500;
}

.weight-6 {
    font-weight: 600;
}

.weight-7 {
    font-weight: 700;
}

.white {
    color: #fff;
}

.bg-green {
    background-color: var(--priColor);
}